/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.gnupg
/.ncftp
/.profile
/.python_history
/.ssh
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/12-21
/12-21.zip
/2020_12_30_10.tar.gz
/2020_12_30_17.tar
/anno
/arranger.py
/check.txt
/hsc26
/hsc33
/jdy_42
/jdy_48
/lsb_01
/new_output
/output
/output.tar
/tsm_out